@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black-25: rgba(0, 0, 0, 0.25);
  --color-black: #000;
  --color-white: #eeeeee;
  --color-primary-400: #fa5d35;
  --color-primary-500: #d65635;
  --color-secondary-400: #0090c4;
  --color-secondary-500: #006286;
  --color-danger-400: #e53e3e;
  --color-danger-500: #bd3a3a;
  --color-success-400: #38a169;
  --color-success-500: #1a7e49;
  --color-warning-500: #ffd93d;
  --color-gray-300: #b6b6b6;
  --color-gray-500: #4b4b4b;
  --color-gray-800: #1f2026;
  --color-gray-900: #10111a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
